@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
button {
    @apply w-full bg-slate-900 text-white rounded-2xl p-2 mt-2;
}
table {
    @apply w-full mt-6;
}
th{
    text-align: left;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 600;
    font-size: .7rem;
    padding: 6px 0;
}
td{
    padding: 8px 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
td img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 8px;
}
td div button{
    width: 40px;
    height: 40px;
    color: #000;
    background-color: rgba(0,0,0,.1);
    border-radius: 12px;
    margin: 0;
}
td div span{
    margin: 0 8px;
}
header,
.slide{
    background-color: #222;
}
.img-product{
    height: 190px;
}
.box-product:hover{
    transform: scale(1.02);
    transition: transform linear .1s;
}
.icon-like:hover{
    fill: red;
}
.icon-like.active{
    fill: red;
}
.btn-add:hover{
    background-color: #14532d;
    color: #fff;
}
.btn-read:hover{
    background-color: #fff;
    color: #14532d;
}
.total{
    color: #000;
    font-weight: bold;
}
.total td{
    padding-top: 18px;
}
.btn-all{
    height: 190px;
    color: #000;
    background-color: rgba(0,0,0,.1);
    font-weight: 600;
}
/* Reponsive mobile*/
@media screen and (max-width: 767px) {
    header.mobile-header,
    .mobile-product-detail,
    .mobile-product-review
    {
        display: inline-block;
        width: 100%;
        padding: 24px;
    }
    nav.mobile-nav-link{
        flex-direction: column;
        gap: 20px;
        padding: 16px 0;
    }
    button.mobile-nav-btn{
        display: block;
        background-color: inherit;
        position: absolute;
        top: 8px;
        left: 90%;
    }
    .slide .mobile-slide{
        flex-direction: column;
    }
    div.mobile-new-product,
    div.mobile-all-product
    {
        grid-template-columns: 1fr;
    }
    div.mobile-add-cart{
        gap: 20px;
    }
    div.mobile-category{
        grid-template-columns: 1fr;
        padding: 0;
    }
    div.mobile-cart-page{
        grid-template-columns: 1fr;
    }
    div.mobile-quantity{
        flex-direction: column;
    }
}
/* Reponsive tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* header.mobile-header,
    .mobile-product-detail,
    .mobile-product-review
    {
        display: inline-block;
        width: 100%;
        padding: 24px;
    } */
    /* nav.mobile-nav-link{
        flex-direction: column;
        gap: 20px;
        padding: 16px 0;
    } */
    button.mobile-nav-btn{
        display: none;
    }
    .slide .mobile-slide{
        flex-direction: column;
    }
    div.mobile-new-product,
    div.mobile-all-product
    {
        grid-template-columns: 1fr 1fr;
    }
    div.mobile-add-cart{
        gap: 20px;
    }
    div.mobile-category{
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    div.mobile-cart-page{
        grid-template-columns: 1fr;
    }
}